<html>
    <head>
        <!--<meta http-equiv="refresh" content="5"> -->
        <link href='https://fonts.googleapis.com/css?family=Assistant' rel='stylesheet'>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <style>
          body {
              font-family: 'Assistant';font-size: 18px;
          }

          .table>thead>tr>th,.table>tbody>tr>th,.table>tfoot>tr>th,.table>thead>tr>td,.table>tbody>tr>td,.table>tfoot>tr>td {
          padding: 0px;
          line-height: 1.428571429;
          vertical-align: top;
          border-top: 1px solid #ddd
          }

          #table-header {
            font-size: 20px;
          }
          
          td {
            margin-left:  0px;
            margin-right: 0px;
          }

          .table {

            margin: 0px;
            padding: 0px;
            border-spacing: 0px;

          }

          .panel {
            
            outline: 0;

          }

          .filterable {
            margin-top: 15px;
          }
          .filterable .panel-heading .pull-right {
              margin-top: -20px;
          }
          .filterable .filters input[disabled] {
              background-color: transparent;
              border: no;
              cursor: auto;
              box-shadow: none;
              padding: 0;
              height: auto;
          }
          .filterable .filters input[disabled]::-webkit-input-placeholder {
              color: #333;
          }
          .filterable .filters input[disabled]::-moz-placeholder {
              color: #333;
          }
          .filterable .filters input[disabled]:-ms-input-placeholder {
              color: #333;
          }
        </style>
    </head>


<div class="container">
  <div class="row">
    <h3>
      BFX-Triangle-Arbitrage
    </h3>
    Main pair: 
  <select>
    <option value="BTC">BTC</option>
    <option value="ETH">ETH</option>
    <option value="USD">USD</option>
    <option value="EUR">EUR</option>
  </select>
  </div>

  <div class="row">
    
  </div>

<body>

<script src="/socket.io/socket.io.js"></script>
<script> 
  var socket = io.connect('http://127.0.0.1:7000')
  var ob_array = [];
  socket.on('message', function (data) {
    alert(data.text);
  })

  socket.on('ob', function(ob) {
    var symbolId = ob.symbol;
    var alt = symbolId.substring(0,4);
    var eth = alt + 'ETH', btc = alt + 'BTC';

    var bidsId = alt + '_bids', 
        asksId = alt + '_asks',
        mainask = alt + '_mainask';

    ob_array[symbolId] = ob; //assign to ob_array
    
    if(symbolId.substring(4) == 'ETH')
      document.getElementById(asksId).innerHTML = ob_array[symbolId]['asks'][0][0]; 
    
    if(symbolId.substring(4) == 'BTC')
      document.getElementById(bidsId).innerHTML = ob_array[symbolId]['bids'][0][0];
    
    if(alt == 'ETH'){
      document.getElementById(mainask).innerHTML = ob_array[symbolId]['asks'][0][0];
    }

  })
  //match pair to arbTrades pair
  
</script>

<div class="panel panel-primary filterable">
    <div class="panel-heading text-center">
    <h3 class="panel-title">TEST</h3>

    <div class="pull-right">
        <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
    </div>
    </div>
 <table class="table"> 
  <tbody>
    <thead>
    <tr id="filters">
      <th>Symbol</th>
      <th>Pair 1 (ask) ETH</th>
      <th>Pair 2 (bid) BTC</th>  
      <th>Pair 3 (ask) ETH/BTC</th>
      <th>Max Amount</th>
      <th>Profit/Loss</th>
    </tr>
    </thead>

    <% for(var i=0; i<=alts.length; i++) {%>
    <% let alt = String(alts[i]).substring(0,4) %>
    <% let bids = alt + '_bids'%>
    <% let asks = alt + '_asks'%>
    <% let mainask = alt + '_mainask'%>
      <tr>
        <td id="<%=alt%>"><b><%=alt%></b></td>
        <td id="<%=asks%>"><%=asks%></td>
        <td id="<%=bids%>"><%=bids%></td>
        <td id="<%=mainask%>"></td>
        <td></td>
        <td></td>
      </tr>
    
    <%}%>

  </tbody>
</table>
<div class = "panel-footer">Panel footer</div>
</div>
</body>
</div>
</html>
